# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
._*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/test/test
/bin/*

# IDE Plugin files
.ycm_extra_conf.py
*.swp
.idea
**/*.dSYM

# LaTex obj files
*.aux
*.log
*.gz

# Outputs
*.ppm
